@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;/*Deixar todos sem margem*/
    padding: 0;/*deixar sem espaçamento*/
}
body, html{
    background-color:#000;
    color:#fff;
}
a, a:hover, a:visited{
    color: unset;/*Sem cor*/
    text-decoration: none;/*Sem undeline*/
}
