@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;/*Deixar todos sem margem*/
    padding: 0;/*deixar sem espaçamento*/
}
body, html{
    background-color:#000;
    color:#fff;
}
a, a:hover, a:visited{
    color: unset;/*Sem cor*/
    text-decoration: none;/*Sem undeline*/
}

.container-principal{
    width: 100%;/*Tamanho dele em relacao a tela*/
    max-width: 1200px;/*Tamanho maximo*/
    margin: 0 auto;/*definindo a margem superior e nas laterais*/
}

/*Definindo o id dea section*/
#sales{
    padding: 40px 10px;
}